{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Herzlich willkommen!</h1>
            <p>Im Rahmen dieser Studie wird die Usability der Webseiten <b>spreadshirt.de</b> und <b>shirtinator.de</b>
                evaluiert. Dabei wird Effizienz, Effektivität und Zufriedenheit anhand verschiedener Parameter
                gemessen.</p>
            <p>Der Zeitaufwand für die insgesamt vier Fragebögen beläuft sich auf etwa 5 Minuten.</p>
            <h4>Vielen Dank für die Teilnahme.</h4>
            <div class="alert alert-warning" role="alert" style="margin-top: 30px;">
                Wir möchten Sie nochmals auf die <a href="{{ url_for('privacy') }}">Datenschutzbestimmungen</a>
                hinweisen.
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}