{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Herzlich willkommen!</h1>
            <p>Im Rahmen dieser Studie, die Teil einer Lehrveranstaltung der Universität Würzburg ist, wird die Usability der Webseiten <b>spreadshirt.de</b> und <b>shirtinator.de</b> evaluiert.</p>
            <p>Dabei wird Effizienz, Effektivität und Zufriedenheit anhand verschiedener Parameter gemessen.</p>
            <h4>Vielen Dank für die Teilnahme.</h4>
            <hr>
            <div class="alert alert-warning" role="alert">
                Hiermit erklären Sie sich mit den <a href="{{ url_for('privacy') }}">Datenschutzbestimmungen</a> einverstanden.
            </div>
            <a class="btn btn-secondary" href="{{ url_for('demographic') }}" role="button">Loslegen!</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock %}
