{% extends "base.html" %}

{% block main %}

<form action="/export/nasa" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>NASA-TLX Fragebogen zur Messung der Effizienz</h2>
                <div class="form-group" style="margin-top: 20px;">
                    <label for="website">Welche Website haben Sie gerade bearbeitet?</label>
                    <div class="radio">
                        <label><input type="radio" name="website" value="shirtinator" required> shirtinator.de</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="website" value="spreadshirt"> spreadshirt.de</label>
                    </div>
                </div>
                {% for item in items %}
                <div class="card" style="margin-top: 50px;">
                    <div class="card-header">
                        <b>{{ item['title'] }}</b>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="{{ item['name'] }}">{{ item['question'] }}</label>
                            <div class="text-center" style="margin-top: 20px;">
                                <span>{{ item['left'] }}</span>
                                <input style="width: 500px;" type="range" min=1 max=20 step=1 value=10 name="{{ item['name'] }}" />
                                <span>{{ item['right'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <input class="btn btn-secondary" type="submit" value="Fertig!">
        </div>
        <div class="col-sm-2"></div>
    </div>
</form>
{% endblock %}
