{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Datenschutz und allgemeine Hinweise</h1>
            <h5>Pseudonymität</h5>
            <p>Die Erhebung und Verarbeitung der im Rahmen dieser Befragung erhobenen persönlichen Daten erfolgt unter
                Verwendung eines Pseudonyms ohne Angabe Ihres echten Namens. Es existiert <i>keine</i> Kodierliste, die
                Ihren Namen mit dem Pseudonym verbindet.</p>
            <h5>Freiwilligkeit und Anonymität</h5>
            <p>Die erhobenen Daten werden vertraulich behandelt. Des Weiteren wird die Veröffentlichung der Ergebnisse
                der Studie in anonymisierter Form erfolgen, d. h. ohne dass Ihre Daten einer Person zugeordnet werden
                können.</p>
            <h5>Freiwilligkeit</h5>
            <p>Die Teilnahme an der Studie ist freiwillig. Sie können jederzeit und ohne Angabe von Gründen die
                Teilnahme an dieser Studie beenden, ohne dass Ihnen daraus Nachteile entstehen.</p>
            <h5>Bild- und Tonaufnahmen</h5>
            <p>Während des praktischen Teils wird die Bildschirmaktivität aufgezeichnet, beim Ausfüllen des Fragebogens
                <i>nicht</i>. Tonaufnahmen werden zu keinem Zeitpunkt angefertigt. </p>
            <h5>Maus- und Tastaturnutzung</h5>
            <p>Es wird außerdem dokumentiert, wie oft und wann während des <i>praktischen Teils</i> Maus und Tastatur
                verwendet wird (Mausklicks und Tastenanschlägen).</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
</div>
{% endblock %}