{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1>Datenschutzhinweis</h1>
            <p>Die Erhebung der Daten erfolgt vollständig anonymisiert, d.h. an keiner Stelle wird Ihr Name erfragt.
                Ihre Antworten und Ergebnisse werden unter einem persönlichen Codewort gespeichert, das Sie selbst
                anhand einer Regel erstellt haben und das außer Ihnen niemand kennt. Die anonymisierten Daten werden
                mindestens 10 Jahre gespeichert. Sie können allerdings, wenn immer Sie dies möchten, die Löschung der
                von Ihnen erhobenen Daten verlangen. Dazu müssen Sie uns nicht Ihren Namen verraten, sondern nur Ihr
                Codewort. Dieses erstellen sie im Prä-Fragebogen.</p>
            <h5>Freiwilligkeit und Anonymität</h5>
            <p>Die Teilnahme an der Studie ist freiwillig. Sie können jederzeit und ohne Angabe von Gründen die
                Teilnahme an dieser Studie beenden, ohne dass Ihnen daraus Nachteile entstehen. Die im Rahmen dieser
                Studie erhobenen Daten werden vertraulich behandelt. Des Weiteren wird die Veröffentlichung der
                Ergebnisse der Studie in anonymisierter Form erfolgen, d. h. ohne dass Ihre Daten einer Person
                zugeordnet werden können.</p>
            <div class="alert alert-success" role="alert">Sollten Sie Fragen haben, wenden Sie sich bitte damit an den
                Versuchsleiter.</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
</div>
{% endblock %}