{% extends "base.html" %}

{% block main %}
<form action="/export/quesi" method="POST" enctype="multipart/form-data">
  <div class="container">
    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-12">
        <h2>QUESI questionbogen zur Messung der Zufriedenheit</h2>
        <div class="form-group" style="margin-top: 20px;">
          <label for="website">Welche Website haben Sie gerade bearbeitet?</label>
          <div class="radio">
            <label><input type="radio" name="website" value="shirtinator" required> shirtinator.de</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="website" value="spreadshirt"> spreadshirt.de</label>
          </div>
        </div>
        <table class="table table-striped" style="margin-top: 50px;">
          <th>
            Item
          </th>
          <th style="padding: 20px; text-align:center">
            trifft gar<br>nicht zu
          </th>
          <th style="padding: 20px; text-align:center">
            trifft<br>wenig<br>zu
          </th>
          <th style="padding: 20px; text-align:center">
            trifft<br>teils-<br>teils zu
          </th>
          <th style="padding: 20px; text-align:center">
            trifft<br>ziemlich<br>zu
          </th>
          <th style="padding: 20px; text-align:center">
            trifft<br>völlig zu
          </th>
          {% for item in items %}
          <tr>
            <td>{{ item['question'] }}</td>
            <td align="center">
              <input style="margin: 0 auto" class="form-check-input" type="radio" name="{{ item['name'] }}" value="0" required>
            </td>
            <td align="center">
              <input style="margin: 0 auto" class="form-check-input" type="radio" name="{{ item['name'] }}" value="1">
            </td>
            <td align="center">
              <input style="margin: 0 auto" class="form-check-input" type="radio" name="{{ item['name'] }}" value="2">
            </td>
            <td align="center">
              <input style="margin: 0 auto" class="form-check-input" type="radio" name="{{ item['name'] }}" value="3">
            </td>
            <td align="center">
              <input style="margin: 0 auto" class="form-check-input" type="radio" name="{{ item['name'] }}" value="4">
            </td>
          </tr>
          {% endfor %}
        </table>
        <input class="btn btn-secondary" type="submit" value="Fertig!" style="margin-top: 30px; margin-bottom: 50px;">
      </div>
    </div>
  </div>
</form>
{% endblock %}
