{% extends "base.html" %}

{% block main %}

<form action="/thankyou" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <b>Persönliche Angaben</b>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="pseudonym">Pseudonym</label>
                            <input type="text" class="form-control" id="pseudonym" name="pseudonym" aria-describedby="pseudonym-help"
                                required>
                            <small id="pseudonym-help" class="form-text text-muted">Der Name, der dir für diese Umfrage zugewiesen wurde.</small>
                        </div>
                        <fieldset class="form-group" style="margin-top: 30px;">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Geschlecht</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="geschlecht" id="gechlecht-männlich"
                                            value="männlich">
                                        <label class="form-check-label" for="geschlecht-männlich">
                                            Männlich
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="geschlecht" id="gechlecht-weiblich"
                                            value="weiblich">
                                        <label class="form-check-label" for="gechlecht-weiblich">
                                            Weiblich
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="geschlecht" id="gechlecht-unbekannt"
                                            value="unbekannt" checked>
                                        <label class="form-check-label" for="geschlecht-unbekannt">
                                            Keine Angabe
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row" style="margin-top: 30px;">
                            <label for="alter" class="col-sm-2 col-form-label">Alter</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="alter" name="alter" min=10 max=100>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <input class="btn btn-secondary" type="submit" value="Fertig!">
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    </div>
</form>
{% endblock %}
