{% extends "base.html" %}

{% block main %}
<form action="/export/post" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <b>Feedback</b>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="besser">Welche Website hat Ihnen besser gefallen?</label>
                            <select class="form-control" id="besser" name="Bessere Website">
                                <option value="n. a.">Keine Angabe</option>
                                <option value="shirtinator.de">shirtinator.de</option>
                                <option value="spreadshirt.de">spreadshirt.de</option>
                                <option value="beide gleich gut">Beide gleich gut</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 30px;">
                            <label for="positiv-shirtinator">Was ist Ihnen besonders <b>positiv</b> bei <b>shirtinator.de</b> aufgefallen?</label>
                            <textarea class="form-control" id="positiv-shirtinator" rows="4" name="Positiv bei shirtinator.de"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="negativ-shirtinator">Was ist Ihnen besonders <b>negativ</b> bei <b>shirtinator.de</b> aufgefallen?</label>
                            <textarea class="form-control" id="negativ-shirtinator" rows="4" name="Negativ bei shirtinator.de"></textarea>
                        </div>
                        <div class="form-group" style="margin-top: 30px;">
                            <label for="positiv-spreadshirt">Was ist Ihnen besonders <b>positiv</b> bei <b>spreadshirt.de</b> aufgefallen?</label>
                            <textarea class="form-control" id="positiv-spreadshirt" rows="4" name="Positiv bei spreadshirt.de"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="negativ-spreadshirt">Was ist Ihnen besonders <b>negativ</b> bei <b>spreadshirt.de</b> aufgefallen?</label>
                            <textarea class="form-control" id="negativ-spreadshirt" rows="4" name="Negativ bei spreadshirt.de"></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <input class="btn btn-secondary" type="submit" value="Fertig!">
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    </div>
</form>
{% endblock %}